<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!--Twitter: Begin -->
		<add key="twitterConsumerKey" value="[provided by Twitter]" />
		<add key="twitterConsumerSecret" value="[provided by Twitter]" />
		<add key="twitterUrlGetToken" value="https://api.twitter.com/oauth2/token" />
		<add key="twitterUrlInvalidateToken" value="https://api.twitter.com/oauth2/invalidate_token" />
		<add key="twitterUrlSearch" value="https://api.twitter.com/1.1/search/tweets.json?" />
		<add key="twitterApiTimeout" value="5000" />
		<add key="twitterSearchResultsPerPage" value="100" />
		<add key="twitterUserAccountsToSearch" value="@[Twitter account name]" /> <!-- comma delimited list-->
		<!--Twitter: End -->
	</appSettings>
</configuration>